@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Irish+Grover&display=swap');


.bg-dark-blue {
  background-color: #1a1a2e;
}
.bg-light-blue {
  background-color: #1c2333;
}


.custom-font-style {
  font-family: 'Irish Grover', cursive;
  font-size: 31.56px;
  font-weight: 400;
  line-height: 62.34px;
  letter-spacing: 0.005em;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
